/*
	Application: CMK Marketing Customer Management System
	Module: Landing Page Styling Sheet

	Developers: Tusa Larkowski, Adeel Minhas, Ruowen Qin
	Brief Description: Handles styles for the landing page of the site.
*/
