/*
	Application: CMK Marketing Customer Management System
	Module: Main Styling Sheet

	Developers: Tusa Larkowski, Adeel Minhas, Ruowen Qin
	Brief Description: Handles any general styles for the website.
*/

body {
	padding-top: 56px;
}

nav {
	background-color: #00A5C7;
}

#client-info .form-control {
	display: inline-block !important;
	width: 30rem !important;
}

#renewal-status, #subscription-info, #project-info {
	padding-left: 15px;
	padding-right: 15px;
}

#renewal-status.editing .col-3, #subscription-info.editing .col-3, #project-info.editing .col-3 {
	padding: .375rem 10px;
}

button:hover {
	cursor: pointer;
}

/* Main Page Styling */
#main-search {
	margin-bottom: 50px;
}

.stylish-input-group .input-group-addon{
	background: white !important; 
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.stylish-input-group .form-control{
	border-left:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.stylish-input-group button{
	border:0;
	background:transparent;
}

#main-search button.search-btn {
	padding: 8px 12px;
	letter-spacing: 1px;
}

.category-list {
	margin-bottom: 50px;
}

button.dropdown-toggle {
	padding: 0;
	text-align: left;
	color: inherit;
	background-color: transparent;
	border: 1px;
	box-shadow: none;
}

button.dropdown-toggle:hover, .show>.btn-secondary.dropdown-toggle {
	background-color: transparent;
	color: inherit;
	box-shadow: none;
}

button.dropdown-toggle:active, .btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	color: inherit;
	box-shadow: none;
	background-color: transparent;
}

.btn-secondary.focus, .btn-secondary:focus {
	box-shadow: none;
}

.dropdown-toggle::after {
	margin-left: 1.6em;
}

.category-list .col {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category-list .dropdown-elem {
	white-space: unset;
	overflow: unset;
	text-overflow: unset;
}

.category-list .entry-link {
	text-decoration: none;
	color: inherit;
}

.category-list .category-header .row .col {
	border-bottom: 2px solid #98BB53;
	background-color: rgba(152, 187, 83, 0.2);
	padding: 0.575rem 0.75rem;
	margin-bottom: 10px;
}

.category-list .category-entry .row {
	padding-top: 0.575rem;
	padding-bottom: 0.575rem;
}

.category-list .category-entry .row:hover {
	background-color: #e2e2e2;
}

#user-category .user-entry .row:hover {
	background-color: transparent;
}

.category-list .category-entry .date-field {
	background-color: #FF7878;
	text-align: center;
	color: #ffffff;
	font-size: smaller;
	padding: 4px 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

/* Client/Subscription/Project General Styling */
[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: unset !important;
}

.blue-button {
	color: #ffffff !important;
	background-color: #4CC0D7 !important;
	border-color: #4CC0D7 !important;
}

.blue-button:hover, .blue-button:active {
	color: #ffffff !important;
	background-color: #37a2b7 !important;
	border-color: #37a2b7 !important;
}

.green-button {
	color: #ffffff !important;
	background-color: #98BB53 !important;
	border-color: #98BB53 !important;
}

.green-button:hover, .green-button:active {
	color: #ffffff !important;
	background-color: #86a843 !important;
	border-color: #86a843 !important;
}

.red-button {
	color: #ffffff !important;
	background-color: #FF7878 !important;
	border-color: #FF7878 !important;
}

.red-button:hover, .red-button:active {
	color: #ffffff !important;
	background-color: #e55b5b !important;
	border-color: #e55b5b !important;
}

.gray-button {
	color: #ffffff !important;
	background-color: #9ea1a3 !important;
	border-color: #9ea1a3 !important;
}

.gray-button:hover, .gray-button:active {
	color: #ffffff !important;
	background-color: #888a8c !important;
	border-color: #888a8c !important;
}

div.sidebar {
	margin-bottom: 60px;
}

div.sidebar h4.sidebar-header {
	padding-left: 10px;
	border-bottom: 2px solid #98BB53;
	margin-bottom: 0;
	line-height: 2em;
}

div.sidebar a.add-project, div.sidebar a.add-subscription {
	float: right;
}

div.sidebar div.sidebar-content {
	padding: 0 10px;
}

.sidebar-header+.list-group .list-group-item {
	margin-top: 20px;
	border-radius: 0;
}

.sidebar-header+.list-group .list-group-item:first-child {
	border-top: 1px solid rgba(0,0,0,.125) !important;
}

.sidebar-content #client-info, .sidebar-content #content-notes, .sidebar-content #renewal-status, .sidebar-content #subscription-info, .sidebar-content #project-info {
	margin-top: 20px;
}

#content-notes {
	padding-left: 15px;
	padding-right: 15px;
}

.sidebar-content #client-info .list-group-item {
	border: 0;
	margin-bottom: 10px;
}

.sidebar-content #client-info .list-group-item:last-child {
	margin-bottom: 0;
}

.sidebar-content #client-info .list-group-item img {
	margin-right: 10px;
}

.sidebar-content .list-group-item small.due-date {
	float: right;
	color: #ffffff;
	background-color: #FF7878;
	letter-spacing: 2px;
	padding: 10px 20px;
	margin: 0 -1.25rem -.75rem 0;
}

.sidebar-content small.due-date-btn {
	letter-spacing: 2px;
}

.btn-group-lg > .btn, .due-date-button {
	padding: 0 !important;
	font-size: 1rem !important;
}

.sidebar-content #subscription-info .row, .sidebar-content #project-info .row {
	margin-bottom: 20px;
}